/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
    .section-padding {
        padding: 50px 30px;
    }
    .absulet-left .slide-content {
        margin-left: 0;
    }
    .slide-area {
        height: 100%;
    }
    .slide-content h3 {
        font-size: 25px;
    }
    .section-padding::before {
        left: 45%;
    }
    .section-padding.absulet-left::before {
        left: calc(50.5% - 50px);
    }
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
    .section-padding {
        padding: 30px 10px;
    }

    .slide-content {
        padding-right: 50%;
        padding-left: 20px;
    }

    .absulet-left .slide-content {
        margin-left: 56.5%;
    }

    .slide-area {
        height: 100%;
    }

    .slide-content h3 {
        font-size: 25px;
    }

    .section-padding::before {
        left: 43%;
    }

    .section-padding.absulet-left::before {
        left: calc(52.5% - 50px);
    }
    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
    .section-padding {
        padding: 25px 0px;
    }

    .slide-content {
        padding-right: 50%;
        padding-left: 10px;
    }

    .slide-content h3 {
        font-size: 15px;
    }

    .slide-content p {
        line-height: 1.4;
        font-size: 13px;
    }

    .boder-btt {
        font-size: 12px;
        padding: 8px 12px;
    }
    
    .section-padding::before {
        left: 40%;
    }

    .section-padding.absulet-left::before {
        left: calc(52.5% - 50px);
    }

    .slide-area {
        height: 100%;
    }

    .absulet-left .slide-content {
        margin-left: 56.5%;
    }
    
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}